<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Courier mobile map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <input type="text" class="native-input" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>

    <agm-map [latitude]="location.latitude" [longitude]="location.longitude" [zoom]="location.zoom"
    (mapClick)="addMarker($event.coords.lat, $event.coords.lng, '')">

    <agm-marker *ngFor="let marker of location.markers; let i = index;" [latitude]="marker.lat"
        [longitude]="marker.lng" (markerClick)="selectMarker($event)" [markerDraggable]="true"
        (dragEnd)="markerDragEnd(coords, $event)">
        <!-- [label]="marker.label" -->
        <agm-info-window #infowindow>
            <input #label id="label" name="label + {{i}}" class="form-control" type="text"
                [value]="marker.label">
            <input #labelButton class="btn btn-primary btn-sm" type="button" value="Αποθήκευση"
                (click)="onUpdateLocationMarkers(label.value, i)">
            <!-- <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"
            (click)="onChangeInfoWindowView(i)">>></a> -->
            <input #removeMarkButton class="btn btn-danger btn-sm" type="button" value="Διαγραφή πινέζας"
                (click)="onDeleteLocationMarkers(i)">
        </agm-info-window>
    </agm-marker>

</agm-map>

</ion-content>
